<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuedemo</title>
</head>
<body>
    
    <div id="app">
      <input type="checkbox" id="item1" value="001" v-model="checkedValues" />
      <label for="item1">北海道</label>
      <input type="checkbox" id="item2" value="002" v-model="checkedValues" />
      <label for="item1">青森</label>
      <input type="checkbox" id="item3" value="003" v-model="checkedValues" />
      <label for="item1">岩手</label>
      <div>チェックされた値：{{checkedValues}}</div>
    </div>

    <script>
      $.ajax({
          url: "https://opendata.resas-portal.go.jp/api/v1/prefectures",
          type: "GET",
          headers: {
              'X-API-KEY': Y8xOC2OKoZE0pJ5DFbOmDhoGf04rs3fgtBADjh8a
          },
          async: "false",
          success: function(result_data) {
              for ( i = 0; i < result_data.result.length; i++ ) {
                  document.getElementById("resas_data").innerHTML += result_data.result[i].prefName + "<br />";
              }
          }
      });
    </script>

    <div id="resas_data"></div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="script.js"></script>
</body>
</html>